<div class="container-fluid text-center">
  <div class="row">
    <div class="col-4 d-flex flex-column mb-3 border-4">
      <div class="p-3"><%= link_to "ホーム", root_path, class:"decoration-none" %></div>
      <div class="p-3">話題を検索</div>
      <div class="p-3">メッセージ</div>
      <div class="p-3">ブックマーク</div>
      <div class="p-3">Twitter Blue</div>
      <div class="p-3"><%= link_to "プロフィール", home_path(current_user), class:"decoration-none" %></div>
      <div class="p-3">もっと見る</div>
      <div class="p-3"><%= link_to "ツイートする", new_tweet_path, class:"btn btn-primary"  %></div>
    </div>
    <div class="col-8 border-4">
      <div class="border-under mt-3 pb-2">
        <div class="d-flex mb-3">
          <%= image_tag @tweet.user.avatar.variant(resize_to_fit: [1000, 1000]), class:"avatar col-2 margin-right-1" if @tweet.user.avatar.attached? %>
          <div class="text-start mt-2">
            <div class="fw-bolder fs-5"><%= @tweet.user.username %></div>
            <div class="fs-6 color-gray">@<%= @tweet.user.userid %></div>
          </div>
        </div>
        <div class="fw-bolder fs-3 text-start font-size-text mb-4"><%= @tweet.content %></div>
        <div class="d-flex">
          <% if @tweet.images.attached? %>
            <% case @tweet.images.size %>
            <% when 1 then %>
            <% @tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-100" %>
            <% end %>
            <% when 2 then %>
            <% @tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-50" %>
            <% end %>
            <% when 3 then %>
            <div class="mx-auto">
              <% @tweet.images.each do |image| %>
                <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-25" %>
              <% end %>
            </div>
            <% when 4 then %>
            <% @tweet.images.each do |image| %>
              <%= image_tag image.variant(resize_to_limit: [1000, 1000]), class:"w-25" %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <div class="d-flex">
        <div>返信</div>
        <div>RT</div>
        <% unless @tweet.favorites.where(user_id: current_user.id).first %>
          <%= link_to "/favorite/#{@tweet.id}", data: { turbo_method: :post } do %>
            <i class="bi bi-heart"></i>
          <% end %>
        <% else %>
          <%= link_to "/favorite/#{@tweet.id}", data: { turbo_method: :post } do %>
            <i class="bi bi-heart-fill color-pink"></i>
          <% end %>
        <% end %>
        <div class="ps-1"><%= @tweet.favorites.size %></div>
      </div>
    </div>
    <%= form_with url: "/reply/#{@tweet.id}", class:"d-flex w-100 mb-3"  do |form| %>
      <%= form.text_area :content, class:"w-75" %>
      <%= form.submit 'コメントする', class:"btn btn-primary w-25" %>
    <% end %>
    <% @replies.each do |reply| %>
      <div class="d-flex border-under">
        <%= image_tag reply.user.avatar.variant(resize_to_fit: [1000, 1000]), class:"avatar d-flex col-2 margin-right-1" if reply.user.avatar.attached? %>
        <div>
          <div class="d-flex flex-column">
            <div class="fw-bolder fs-6 text-start decoration-none">
              <a><%= reply.user.username %></a>
              <a class="color-gray decoration-none">@<%= reply.user.userid %></a>
            </div>
            <div class="text-start">
              <a class="color-blue decoration-none">@<%= @tweet.user.userid %></a>
            </div>
            <div class="text-start font-size-text mt-2 mb-2"><%= reply.content %></div>
          </div>
        </div>
      </div>
    <% end %>
    <%= paginate @replies, theme: 'bootstrap-5' %>
  </div>
</div>
</div>
