h2.text-center
  | アカウントを作成
br
.container
  = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :post }, data: { turbo: false }) do |f|
    = render "users/shared/error_messages", resource: resource
    .form-group.col-md-6.mx-auto
      = f.label :username
      br
      = f.text_field :username, class:"form-control", autofocus: true, autocomplete: "username"
    | </br /> 
    .form-group.col-md-6.mx-auto
      = f.label :email
      br
      = f.email_field :email, class:"form-control", autofocus: true, autocomplete: "email"
    br
    .form-group.col-md-6.mx-auto
      = f.label :tel
      br
      = f.telephone_field :tel, class:"form-control", autofocus: true, autocomplete: "tel"
    br
    .form-group.col-md-6.mx-auto
      = f.label :birthday
      br
      = f.text_field :birthday, class:"form-control", autofocus: true, autocomplete: "birthday"
    br
    .form-group.col-md-6.mx-auto
      = f.label :password
      br
      = f.password_field :password, class:"form-control", autocomplete: "new-password"
      - if @minimum_password_length
        br
        em
          = @minimum_password_length
          |  characters minimum
    .form-group.col-md-6.mx-auto
      = f.label :password_confirmation
      br
      = f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password"
    br
    .actions.col-md-6.mx-auto
      = f.submit "SignUp", class:"btn btn-primary"
    br
